In [203]:
import numpy as np
import pandas as pd
import matplotlib.pylab as plt
import seaborn as sns
from datetime import datetime

In [204]:
df = pd.read_csv("data/preprocessed_data")

/home/kacper/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (14) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [213]:
sus = df.loc[df["IS_SUSPENDED"]==1]

In [214]:
sus['RESIGN_DATE'] = pd.to_datetime(sus["RESIGN_DATE"], format="%Y-%m-%d")
sus['CREATED_AT'] = pd.to_datetime(sus["CREATED_AT"], format="%Y-%m-%d")

sus["DURATION"] = sus['RESIGN_DATE'] - sus['CREATED_AT']

sus["DURATION"].apply(lambda x: int(x.days))

<ipython-input-214-33f277e7a65a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sus['RESIGN_DATE'] = pd.to_datetime(sus["RESIGN_DATE"], format="%Y-%m-%d")
<ipython-input-214-33f277e7a65a>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sus['CREATED_AT'] = pd.to_datetime(sus["CREATED_AT"], format="%Y-%m-%d")
<ipython-input-214-33f277e7a65a>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sus["DURATION"] = sus['RESIGN_DATE'] - sus['CREATED_AT']

36          94
38          33
60          27
63         171
68          69
          ...
1793206     30
1793207     30
1793208     30
1793209     30
1793210     30
Name: DURATION, Length: 312666, dtype: int64

In [215]:
sus['DURATION']
sus.drop(columns=['IS_SUSPENDED', 'EMPL_ID', 'SEX', 'NATIONALITY', 'WORK_START',
       'WORK_STOP', 'AGE', 'CREATED_AT', 'RESIGN_DATE', 'HAS_AE', 'HAS_AW',
       'HAS_IP', 'PPK_STAGE', 'REGION_CODE', 'VOIVODESHIP', 'COMPANY_SIZE',
       'COMPANY_TYPE','Unnamed: 0'], inplace=True)

/home/kacper/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [216]:
# corr = sus.corr()# plot the heatmap
# sns.heatmap(corr, xticklabels=corr.columns,
#             yticklabels=corr.columns,annot=True, 
#             cmap=sns.diverging_palette(220, 20, as_cmap=True))
sus

        DURATION
36       94 days
38       33 days
60       27 days
63      171 days
68       69 days
...          ...
1793206  30 days
1793207  30 days
1793208  30 days
1793209  30 days
1793210  30 days

[312666 rows x 1 columns]