In [48]:
import pandas as pd
import numpy as np

import matplotlib.pylab as plt
import seaborn as sns


df = pd.read_csv("data/PPK_Uczestnicy.csv", sep=';', error_bad_lines=False)

In [49]:
df.drop(columns = ["MEMBER_ID"], inplace = True)

print(df.shape)
print(df.columns)

(1793211, 14)
Index(['IS_SUSPENDED', 'EMPL_ID', 'SEX', 'NATIONALITY', 'WORK_START',
       'WORK_STOP', 'PPK_BANK', 'AGE', 'CREATED_AT', 'NUMERICAL_VALUE',
       'RESIGN_DATE', 'HAS_AE', 'HAS_AW', 'HAS_IP'],
      dtype='object')

In [50]:
df.describe().apply(lambda s: s.apply(lambda x: format(x, 'f')))

,IS_SUSPENDED,EMPL_ID,NATIONALITY,PPK_BANK,HAS_AE,HAS_AW,HAS_IP
count,1793211.000000,1793211.000000,1793211.000000,1793211.000000,1793211.000000,1793211.000000,1793211.000000
mean,0.174361,155294.849723,34.353237,12.247279,0.019155,0.009640,0.521412
std,0.379420,81511.631956,18.249374,4.677958,0.137070,0.097708,0.499541
min,0.000000,3.000000,1.000000,1.000000,0.000000,0.000000,0.000000
25%,0.000000,90405.000000,31.000000,10.000000,0.000000,0.000000,0.000000
50%,0.000000,163207.000000,31.000000,13.000000,0.000000,0.000000,1.000000
75%,0.000000,239173.000000,31.000000,15.000000,0.000000,0.000000,1.000000
max,1.000000,261079.000000,200.000000,20.000000,1.000000,1.000000,1.000000

In [ ]:
for col in df.columns:
    print( col, df[col].unique())

In [58]:
nat = df["NATIONALITY"].value_counts()

31     1715422
137      43500
63       15991
3         3969
38        1370
        ...
171          1
77           1
139          1
58           1
72           1
Name: NATIONALITY, Length: 187, dtype: int64